@font-face {
  font-family: 'Fira Code';
  src: url('https://raw.githubusercontent.com/tonsky/FiraCode/master/distr/eot/FiraCode-Regular.eot')
      format('embedded-opentype'),
    url('https://raw.githubusercontent.com/tonsky/FiraCode/master/distr/woff2/FiraCode-Regular.woff2')
      format('woff2'),
    url('https://raw.githubusercontent.com/tonsky/FiraCode/master/distr/woff/FiraCode-Regular.woff')
      format('woff'),
    url('https://raw.githubusercontent.com/tonsky/FiraCode/master/distr/ttf/FiraCode-Regular.ttf')
      format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;

  --color-background-primary: #26292e;
  --color-background-secondary: #31353c;
  --color-background-tertiary: #434348;
  --color-background-highlight: #4d535c;
  --color-button-secondary: #4d535c;
  --color-button-secondary-hover: #434348;
  --color-background-highlight2: #5359636e;
  --color-background-accent: #767d8a;
  --color-text: #323232;
  --color-text-secondary: #767d8a;
  --color-text-hover: #1B9CFC;
  --color-text-selected: #1B9CFC;
  --color-text-selected-half: #60c2ff;
  --color-text-accent: #2979ff;
  --color-primary: #2979ff;
  --color-primary-hover: #2171e8;
  --color-error-text: rgb(255, 98, 98);
  --color-warning-text: rgb(255, 182, 98);
  --border-color-warning: rgb(255, 136, 0);

  --color-border-bottom: #aaa;


  /* ALERTS */
  --alert-border-warning: rgb(255, 136, 0);
  --alert-background-warning: #4d535c;
  --alert-text-warning: rgb(255, 136, 0);
}
.demo-font {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}