
.missingProps {
  color: var(--alert-text-warning);
  font-weight: 500;
  font-size: 14px;
  padding: 8px;
  border-left: solid 2px var(--border-color-warning);
  text-transform: uppercase;
  background-color: var(--color-background-hover);
}